html {
    scroll-behavior: smooth;
}

/*NAVBAR*/
.navbar-brand {
    margin: 0;
    padding: 0;
}

.top-name {
    font-size: 16px;
}

nav.navbar {
   background: rgba(0,0,0,0.7);
}

.nav-item {
    font-size: 18px;
    font-weight: 600;
}

/*CONTENT*/
.container-fluid.content {
    margin: 20px;
    margin-top: 70px;
}

section {
    padding-top: 40px;
}

p {
    font-size: 19px;
}

#szt-logo {
    padding: 10px;
    margin-top: 20px;
}

button a {
    text-decoration: none;
    color: white;
}

button a:hover {
    text-decoration: none;
    color: white;
}

/*COUNTER*/

 .counter-section i {
     display: block;
     margin: 0 0 10px;
 }

 .counter-section span.counter {
     font-size: 40px;
     color: #000;
     line-height: 60px;
     display: block;
     font-family: "Oswald", sans-serif;
     letter-spacing: 2px;
 }

 .counter-title {
     font-size: 12px;
     letter-spacing: 2px;
     text-transform: uppercase;
 }

 .counter-icon {
     top: 25px;
     position: relative;
 }

 .counter-style2 .counter-title {
     letter-spacing: 0.55px;
     float: left;
 }

 .counter-style2 span.counter {
     letter-spacing: 0.55px;
     float: left;
     margin-right: 10px;
 }

 .counter-style2 i {
     float: right;
     line-height: 26px;
     margin: 0 10px 0 0;
 }

 .counter-subheadline span {
     float: right;
 }

 .medium-icon {
     font-size: 40px !important;
     margin-bottom: 15px !important;
 }

.counter-container {
    margin: 40px;
    padding: 20px;
    background-color: white;
}

/*CAREER*/
.btn-career {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

/*FORM*/
label {
    text-align: center;
    margin: 0 auto;
    align-items: center;
    font-weight: 500;
}

input {
    display: block;
    margin: 10px;
    width: 100%;
}

textarea {
    display: block;
    margin: 10px;
    width: 100%;
}

select {
    display: block;
    margin: 10px;
    width: 100%
}

select > option[selected] {
    color: darkgrey;
}

.btn-info {
    background-color: #3e6199;
    border: 1px solid #3e6199;
}

.btn-info:hover {
    background-color: #507bbf;
    border: 1px solid #507bbf;
    
}

.btn-info:active {
    background-color: #507bbf;
    border: 1px solid #507bbf;
    
}

.btn-info:visited {
    background-color: #507bbf;
    border: 1px solid #507bbf;
    
}

.container.form {
    padding: 20px;
    padding-right: 35px;
}

/*REVIEWS CAROUSEL*/

.carousel-review>.carousel-item {
    background-color: #262626;
    height: 300px;
}

.carousel-review {
    margin-top: 100px;
    margin-bottom: 0;
    border-radius: 5px;
}

.carousel-review p {
    color: white;
    text-align: center;
    margin:110px;
    margin-top: 80px;
    margin-bottom: 10px;
    font-size: 18px;
}

/*MAPS*/

.mapouter {
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 20px;
}

.effect6
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect6:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/*FOOTER*/

 @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

 .container-fluid.footer {
     overflow: hidden;
     margin-top: 50px;
     background: #262626;
     color: #6c757d !important;
     margin-bottom: 0;
     padding-bottom: 0
 }

 small {
     font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .bold-text {
     color: #989c9e !important
 }

 .mt-55 {
     margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
 }

 h3 {
     font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .social {
     font-size: 21px !important
 }

 .rights {
     font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
 }

.list-unstyled > li a {
    text-decoration: none;
    color: #6c757d;
}

.list-unstyled > li a:hover {
    text-decoration: none;
    color: #989c9e;
}

.social .fa{
    color: #6c757d;
}

.social .fa:hover {
    color: #989c9e;
}

small a { 
    color: #6c757d;
    text-decoration: none;
}

small a:hover { 
    color: #989c9e;
    text-decoration: none;
}
/* FOOTER END */

@media only screen and (max-width: 992px) {
    .card-group {
        display: block;
    }
    
    .card.services {
        width: 90%;
    }
    
    img.career-icons {
        width: 100%;
    }
    
    .navbar-brand {
        max-width: 60%;
    }
    
    .carousel-review p {
    color: white;
    text-align: center;
    margin:10%;
    margin-top: 15%;
    margin-bottom: 0;
    font-size: 16px;
}
    
}