html {
    scroll-behavior: smooth;
}

/*NAVBAR*/

nav.navbar {
   background: rgba(0,0,0,0.7) 
}

.nav-item {
    font-size: 18px;
    font-weight: 600;
}

/*CAROUSEL*/


/*CONTENT*/
.container-fluid.content {
    margin: 20px;
    margin-top: 70px;
}

section {
    padding-top: 40px;
}

p {
    font-size: 19px;
}

#szt-logo {
    padding: 10px;
    margin-top: 20px;
}

button a {
    text-decoration: none;
    color: white;
}

button a:hover {
    text-decoration: none;
    color: white;
}

/*COUNTER*/

 .counter-section i {
     display: block;
     margin: 0 0 10px
 }

 .counter-section span.counter {
     font-size: 40px;
     color: #000;
     line-height: 60px;
     display: block;
     font-family: "Oswald", sans-serif;
     letter-spacing: 2px
 }

 .counter-title {
     font-size: 12px;
     letter-spacing: 2px;
     text-transform: uppercase
 }

 .counter-icon {
     top: 25px;
     position: relative
 }

 .counter-style2 .counter-title {
     letter-spacing: 0.55px;
     float: left
 }

 .counter-style2 span.counter {
     letter-spacing: 0.55px;
     float: left;
     margin-right: 10px
 }

 .counter-style2 i {
     float: right;
     line-height: 26px;
     margin: 0 10px 0 0
 }

 .counter-subheadline span {
     float: right
 }

 .medium-icon {
     font-size: 40px !important;
     margin-bottom: 15px !important
 }

/*CARDS*/


/*CAREER*/

.fa.career {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
    margin-top: 20px;
}

div.career {
    display: inline;
    margin: 12px;
}

div.career.mechanic {
    margin-left: 50px;
}

div.career.driver {
    margin-left: 0;
}

div.career.loader {
    margin-left: 8px;
}

/*FORM*/
label {
    text-align: center;
    margin: 0 auto;
    
}

input {
    display: block;
    margin: 10px;
    width: 100%;
}

textarea {
    display: block;
    margin: 10px;
    width: 100%;
}

select {
    display: block;
    margin: 10px;
    width: 100%
}

select > option[selected] {
    color: lightblue;
}

.btn-info {
    background-color: #3e6199;
    border: 1px solid #3e6199;
}

.btn-info:hover {
    background-color: #507bbf;
    border: 1px solid #507bbf;
    
}

.btn-info:active {
    background-color: #507bbf;
    border: 1px solid #507bbf;
    
}

.btn-info:visited {
    background-color: #507bbf;
    border: 1px solid #507bbf;
    
}

/*MAPS*/

.googlemaps {
    padding: 5%;
}


/*REVIEW*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

.card {
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 20px;
    width: 450px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1)
}

.comment-box {
    padding: 5px
}

.comment-area textarea {
    resize: none;
    border: 1px solid #ad9f9f
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
}

.send {
    color: #fff;
}

.send:hover {
    color: #fff;
}

.rating {
    display: flex;
    margin-top: -10px;
    flex-direction: row-reverse;
    margin-left: -4px;
    float: left
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 19px;
    font-size: 25px;
    color: #F2C300;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

/* END OF REVIEW CSS*/

/*REVIEWS CAROUSEL*/

.carousel-review>.carousel-item {
    background-color: #262626;
    height: 300px;
}

.carousel-review {
    margin-top: 100px;
    margin-bottom: 0;
    border-radius: 5px;
}

.carousel-review p {
    color: white;
    text-align: center;
    margin:110px;
    margin-top: 80px;
    margin-bottom: 10px;
    font-size: 18px;
}

/* FOOTER START*/

 @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

 .container-fluid.footer {
     overflow: hidden;
     margin-top: 250px;
     background: #262626;
     color: #6c757d !important;
     margin-bottom: 0;
     padding-bottom: 0
 }

 small {
     font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .bold-text {
     color: #989c9e !important
 }

 .mt-55 {
     margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
 }

 h3 {
     font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .social {
     font-size: 21px !important
 }

 .rights {
     font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
 }

.list-unstyled > li a {
    text-decoration: none;
    color: #6c757d;
}

.list-unstyled > li a:hover {
    text-decoration: none;
    color: #989c9e;
}

.social .fa{
    color: #6c757d;
}

.social .fa:hover {
    color: #989c9e;
}

small a { 
    color: #6c757d;
    text-decoration: none;
}

small a:hover { 
    color: #989c9e;
    text-decoration: none;
}
/* FOOTER END */

@media only screen and (max-width: 992px) {
    .card-group {
        display: block;
    }
    
}